<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist Creator</title> 
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/playlist_creator.css') }}">
    <script src="{{ url_for('static', filename='js/playlist_creator.js') }}"></script>

</head>
<body>
    <header>
        <h1>{{data['username']}}'s Playlists</h1>
    </header>

    <div class="box menu playlist-container prevent-select" id="playlist-container">
        <!-- LATER: perhaps programmatically decide which image of the 3 to use based on size -->
        {% for playlist in data['playlists_info'] %}
        <div class="playlist-menu-item draggable-item" draggable="true">
            <img src="{{playlist['images'][0]['url']}}" alt="Playlist Image" draggable="false"> 
            <a draggable="false" href="{{playlist['url']}}">{{playlist['name']}}</a>
        </div>
        {% endfor %}
    </div>

    <div class="box menu operators-container prevent-select" id="operators-container">
        <div class="operator-menu-item draggable-item" draggable="true" id="and-operator">AND</div>
        <div class="operator-menu-item draggable-item" draggable="true" id="or-operator">OR</div>
        <div class="operator-menu-item draggable-item" draggable="true" id="not-operator">NOT</div>
    </div>

    <!-- <div class="box" id="equation-builder" ondrop="drop(event)" ondragover="allowDrop(event)"> -->
    <div class="box" id="equation-builder"></div>
        <!-- Drop zone for equation items -->
    </div>
</body>
</html>